.about-MigrantService {
  padding: 60px 0;
  background: #f3f3f3;
}
.about-MigrantService .container-small {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.about-MigrantService-text {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.about-MigrantService-text h3 {
  text-align: start;
}

.about-MigrantService-img {
  max-width: 415px;
}

@media only screen and (max-width: 900px) {
  .about-MigrantService .container-small {
    flex-direction: column-reverse;
  }
  .about-MigrantService-img {
    max-width: 630px;
    width: 100%;
    object-fit: fill;
    max-height: 400px;
  }
}
