.swiper {
  background-color: #f4f4f4;
  padding: 40px 10px;
}

.swiper-slides {
  max-width: 1300px;
  margin: 40px auto;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.swiper-slide {
  box-sizing: border-box;
  min-width: 100%;
  /* flex-shrink: 0; */
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.swiper-slide.active {
  visibility: visible;
  opacity: 1;
  position: relative;
}

.controls-swiper-slides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}
.controls-swiper-prev {
  width: 24px;
  height: 24px;
}
.indicators-swiper {
  display: flex;
  gap: 5px;
  align-items: center;
}
.indicator-swiper {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #1e1e1e;
  padding: 6px 12px;
  border-radius: 8px;
  width: 38px;
  cursor: pointer;
}
.indicator-swiper.active {
  background: #e5e7eb;
}
.controls-swiper-next {
  width: 24px;
  height: 24px;
}

.real-clients-swiper-card {
  border: 1px solid rgba(30, 30, 30, 0.1);
  border-radius: 12px;
  padding: 20px;
  max-width: 630px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

.real-clients-swiper-card img {
  max-width: 300px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.real-clients-swiper-card-text {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media only screen and (max-width: 1265px) {
  .controls-swiper-slides {
    max-width: 846px;
  }
}

@media only screen and (max-width: 1200px) {
  .real-clients-swiper-card img {
    max-width: 250px;
    width: 100%;
  }
}

@media only screen and (max-width: 1070px) {
  .real-clients-swiper-card {
    flex-direction: column; 
  }
}

@media only screen and (max-width: 1070px) {
  .real-clients-swiper-card img {
    max-width: 100%;
    max-height: 300px;
    width: 100%;
    object-fit: fill;
  }
}