.your-benefits {
  padding: 120px 0;
}
.your-benefits-content {
  display: flex;
  justify-content: space-between;
}
.your-benefits-content-text {
}
.your-benefits-content-text h3 {
  text-align: left;
  max-width: 340px;
}
.your-benefits-content-cards {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 850px;
}
.your-benefits-content-card {
  max-width: 410px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  box-shadow: 0 4px 4px -1px rgba(12, 12, 13, 0.05),
    0 4px 4px -1px rgba(12, 12, 13, 0.1);
  background-color: #fafafa;
}
.your-benefits-content-card-icon {
}
.text-xl {
}
.bold600 {
}
.your-benefits-content-img {
}

@media only screen and (max-width: 1300px) {
  .your-benefits-content-cards {
    gap: 10px;
  }
  .your-benefits-content-card {
    max-width: 360px;
  }
}

@media only screen and (max-width: 1190px) {
  .your-benefits{
    padding: 60px 0;
  }
  .your-benefits-content-img {
    display: none;
  }
  .your-benefits-content {
    display: flex;
    justify-content: center;
  }
  .your-benefits-content-cards {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 850px;
    justify-content: center;
  }
  .your-benefits-content-text h3{
    text-align: center;
    margin: 0 auto
  }
}

@media only screen and (max-width: 780px) {
  .your-benefits-content-cards{
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .your-benefits-content-card{
    width: 100%;
    max-width: 100%;
  }
}