@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("/css/reset.css");
@import url("/css/header.css");
@import url("/css/general.css");
@import url("/css/hero.css");
@import url("/css/road-to-legalize.css");
@import url("/css/our-clients.css");
@import url("/css/Swiper.css");
@import url("/css/questions.css");
@import url("/css/legalize-near.css");
@import url("/css/footer.css");
@import url("/css/modal.css");
@import url("/css/employment-assistance.css");
@import url("/css/why-choose-migrantService.css");
@import url("/css/your-benefits.css");
@import url("/css/our-guarantees.css");
@import url("/css/about-MigrantService.css");
@import url("/css/how-much.css");

* {
  font-family: "Open Sans", sans-serif;
  color: #1e1e1e;
}

html {
  scroll-behavior: smooth;
}
